











































# Comments:

Python has commenting capability for the purpose of in-code documentation.

Comments start with a #, and Python will render the rest of the line as a comment:

In [1]:
#This is a comment. 
print("Hello, World!")

Hello, World!

# Docstrings :

Python also has extended documentation capability, called docstrings.

Docstrings can be one line, or multiline.

Python uses triple quotes at the beginning and end of the docstring.

In [3]:
"""This is a 
multiline docstring."""
print("I am a Data Scientist")

I am a Data Scientist

# Python Variables

A variable can have a short name or a descriptive name 

A variable name must start with a character/letter or the underscore character, it cannot be a number

Variable names are case-sensitive (car, Car and CAR are three different variables)

Eg. a, b, x, y, NAME, num1, first_name.

In [10]:
x = 4
y = "data"
z = 8.4

In [11]:
print(x)

4

In [13]:
x = "datascience" # x is now of type string

In [16]:
print(x) # x value is updated from 4 to 'datascience'
print(y)
print(z)

datascience
data
8.4

### Python Print  statement is often used as a output variable.

In [17]:
x = "coding"
print("I love " + x)

I love coding

In [18]:
x = "I am a  "
y = "Data Scientist"
z =  x + y
print(z)

I am a  Data Scientist

In [19]:
# "+" opertor is for addition(with numericals)

x = 9
y = 3.6
print(x + y)

12.6

### If you try to combine a string and a number, Python will give you an error:

In [20]:
#we get error, if we use "+" operator between a string & a number
x = 10
y = "string"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# Python Datatypes

In [21]:
#Variables of numeric types are created when you assign a value to them:

x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [22]:
print(x)

1

In [23]:
print(z)

1j

In [25]:
#Float can also be scientific numbers with an "e" to indicate the power of 10

x = 35e5
print(x)

3500000.0

In [26]:
# Complex numbers are written with a "j" as the imaginary part.

x = 3+5j
print(x)

(3+5j)

In [34]:
# Strings literals in python are surrounded by either single quotation marks, or double quotation marks.

x = 'Data*Science'
print(x)

Data*Science

In [35]:
# The len() method returns the length of a string:

print(len(x))

12

In [37]:
#Square brackets can be used to access elements of the string.
print(x[0])

D

In [38]:
# The lower() method returns the string in lower case:

print(x.lower())

data*science

In [39]:
# The upper() method returns the string in upper case:
print(x.upper())

DATA*SCIENCE

# Python Operators

Operators are used to perform operations on variables and values.

Python divides the operators in the following groups:

Arithmetic operators
Assignment operators
Comparison operators
Logical operators
Identity operators
Membership operators
Bitwise operators

### Arithmetic Operators

### Arithmetic operators are used with numeric values to perform common mathematical operations:

    +	Addition	x + y	
    -	Subtraction	x - y	
    *	Multiplication	x * y	
    /	Division	x / y	
    %	Modulus	x % y	
    
    **	Exponentiation	x ** y	 
    //	Floor division	x // y

###  Comparison Operators

### Comparison operators are used to compare two values:

    ==	Equal	x = y	
    !=	Not equal	x != y	
    >	Greater than	x > y	
    <	Less than	x < y	
    >=	Greater than or equal to	x >= y	
    <=	Less than or equal to	x <= y

In [ ]:
x = 2
x <= 5
y=9
x

In [ ]:
y

In [ ]:
z=3

In [ ]:
(x < 6 and x < 10)

### Logical Operators

### Logical operators are used to combine conditional statements:

and 	Returns True if both statements are true	x < 5 and  x < 10

or	Returns True if one of the statements is true	x < 5 or x < 4	

not	Reverse the result, returns False if the result is true	not(x < 5 and x < 10)

### Membership Operators

### Membership operators are used to test if a sequence is presented in an object:

in 	Returns True if a sequence with the specified value is present in the object	x in y

not in	Returns True if a sequence with the specified value is not present in the object	x not in y

# Data Structures in Python

## There are four types of data structures in the Python programming language:

### LIST

List is a collection of data which is ordered and changeable. List can have duplicate members.

lists are written with square brackets"[]".

In [43]:
data = ["apple", "samsung", "oppo", "vivo"]
print(data)

['apple', 'samsung', 'oppo', 'vivo']

In [45]:
#You access the list items by referring to the index number:

print(data[3])

vivo

In [46]:
# To change the value of a specific item, refer to the index number:

data[2] = "blackberry"
print(data)

['apple', 'samsung', 'blackberry', 'vivo']

In [47]:
# Print all items in the list, one by one:

for x in data:
  print(x)

apple
samsung
blackberry
vivo

In [51]:

if "apple" in data:
 print("Yes, 'apple' is in the data list")
else:
 print("apple is not in the data list")

Yes, 'apple' is in the data list

In [52]:
# Print the number of items in the list:

print(len(data))

4

In [53]:
# To add an item to the end of the list, use the append() method:

data.append("realme")
print(data)

['apple', 'samsung', 'blackberry', 'vivo', 'realme']

In [55]:
# To add an item at the specified index, use the insert() method:

data.insert(6, "nokia")
print(data)

['apple', 'nokia', 'samsung', 'blackberry', 'vivo', 'realme', 'nokia']

In [56]:
# The remove() method removes the specified item:

data.remove("nokia")
print(data)

['apple', 'samsung', 'blackberry', 'vivo', 'realme', 'nokia']

In [57]:
# The pop() method removes the specified index, (or the last item if index is not specified):

data.pop(5)
print(data)

['apple', 'samsung', 'blackberry', 'vivo', 'realme']

The del keyword removes the specified index:
    del data[0]
    
    
The del keyword can also delete the list completely:
    del data

The clear() method empties the list:
    data.clear()

#copy the list.

mobiles = data.copy()

### TUPLE

Tuple is a collection of data which is ordered and unchangeable. Tuple can have duplicate members.

Tuples are written with round brackets"()".

In [58]:
data_tuple = ("apple", "samsung", "oppo", "vivo")
print(data_tuple)

('apple', 'samsung', 'oppo', 'vivo')

In [59]:
# You can access tuple items by referring to the index number, inside square brackets:

print(data_tuple[1])

samsung

In [60]:
# Once a tuple is created, we cannot change the values as Tuples are unchangeable.

data_tuple = ("apple", "samsung", "oppo", "vivo")
data_tuple[1] = "honor"
# The values will remain the same:
print(data_tuple)

TypeError: 'tuple' object does not support item assignment

In [61]:
# You can loop through the tuple items by using a for loop.

for x in data_tuple:
  print(x)

apple
samsung
oppo
vivo

In [ ]:
# Tuples are unchangeable, Hence we cannot remove items from it, but we can delete the tuple completely:

# SETS

Set is a collection of data, which is unordered and unindexed. Set doesn't have any duplicate members.

Sets are written with curly brackets"{}".

In [62]:
data_set = {"apple", "samsung", "oppo", "vivo"}
print(data_set)

{'apple', 'samsung', 'oppo', 'vivo'}

we cannot access items in a set by referring to an index, since sets are unordered, the items has no index.

In [63]:
for x in data_set:
  print(x)

apple
samsung
oppo
vivo

In [65]:
print("Oppo" in data_set) #if data is present it returns TRUE, or FALSE

False

In [66]:
#To add one item to a set use the add() method.

#To add more than one item to a set use the update() method.

data_set.add("nokia")

print(data_set)

{'vivo', 'apple', 'nokia', 'oppo', 'samsung'}

In [67]:
data_set.update(["mi", "realme", "oneplus"])

print(data_set)

{'vivo', 'apple', 'mi', 'oneplus', 'nokia', 'oppo', 'realme', 'samsung'}

In [68]:
#To determine how many items a set has, use the len() method.

print(len(data_set))

8

# Methods in Sets

add()	Adds an element to the set

clear()	Removes all the elements from the set

copy()	Returns a copy of the set

difference()	Returns a set containing the difference between two or more sets

difference_update()	Removes the items in this set that are also included in another, specified set

discard()	Remove the specified item

intersection()	Returns a set, that is the intersection of two other sets

intersection_update()	Removes the items in this set that are not present in other, specified set(s)

isdisjoint()	Returns whether two sets have a intersection or not

issubset()	Returns whether another set contains this set or not

issuperset()	Returns whether this set contains another set or not

pop()	Removes an element from the set

remove()	Removes the specified element

symmetric_difference()	Returns a set with the symmetric differences of two sets

symmetric_difference_update()	inserts the symmetric differences from this set and another

union()	Return a set containing the union of sets

update()	Update the set with the union of this set and others

# DICTIONARIES

Dictionary is a collection which is unordered, changeable and indexed. No duplicate members.

In Python dictionaries are written with curly brackets, and they have keys and values.

In [69]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year" : 1964
}

print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [70]:
#You can access the items of a dictionary by referring to its key name, inside square brackets:

x = car["model"]

In [71]:
print(x)

Mustang

In [72]:
# You can change the value of a specific item by referring to its key name:

car["year"]= 2008

In [73]:
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2008}

In [74]:
# You can loop through a dictionary by using a for loop.

# When looping through a dictionary, the return value are the keys of the dictionary,
# but there are methods to return the values as well.

for x in car:
  print(x)

brand
model
year

In [75]:
for x in car:
  print(car[x])

Ford
Mustang
2008

In [76]:
# You can also use the values() function to return values of a dictionary:

for x in car.values():
  print(x)

Ford
Mustang
2008

In [77]:
# Loop through both keys and values, by using the items() function:

for x, y in car.items():
  print(x, y)

brand Ford
model Mustang
year 2008

In [78]:
# To determine how many items (key-value pairs) a dictionary has, use the len() method.

print(len(car))

3

In [79]:
# Adding an item to the dictionary is done by using a new index key and assigning a value to it:

car["color"] = "red"
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2008, 'color': 'red'}

# Methods in Dictionaries

clear()	Removes all the elements from the dictionary

copy()	Returns a copy of the dictionary

fromkeys()	Returns a dictionary with the specified keys and values

get()	Returns the value of the specified key

items()	Returns a list containing the a tuple for each key value pair

keys()	Returns a list containing the dictionary's keys

pop()	Removes the element with the specified key

popitem()	Removes the last inserted key-value pair

setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value

update()	Updates the dictionary with the specified key-value pairs

values()	Returns a list of all the values in the dictionary