In [111]:
import pandas as pd
import numpy as np

#  Importing libraries for Data Visualization

import matplotlib.pyplot as plt
import seaborn as sb
%matplotlib inline

from sklearn.model_selection import train_test_split

In [112]:
cars=pd.read_csv("cars.csv")

In [113]:
cars.head()

,car_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [114]:
cars.tail()

,car_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.9,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.5,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.5,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.6,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.6,1,1,4,2

In [115]:
cars.shape

(32, 12)

In [116]:
cars.isnull().sum()

car_model    0
mpg          0
cyl          0
disp         0
hp           0
drat         0
wt           0
qsec         0
vs           0
am           0
gear         0
carb         0
dtype: int64

In [117]:
X=cars.loc[:,['mpg','hp','wt']]
y=cars.am

In [118]:
X_train,X_test,y_train,y_test=train_test_split(X,y, test_size=0.20, random_state=10)

In [119]:
from sklearn.neighbors import KNeighborsClassifier

In [120]:
model = KNeighborsClassifier(n_neighbors= 7)

In [121]:
model.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=7, p=2,
           weights='uniform')

In [122]:
y_test

20    0
7     0
5     0
2     1
3     0
21    0
13    0
Name: am, dtype: int64

In [123]:
predict=model.predict(X_test)

In [124]:
predict

array([1, 1, 1, 1, 1, 0, 0], dtype=int64)

In [125]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [126]:
accuracy_score(y_test, predict)

0.42857142857142855

In [127]:
confusion_matrix(y_test, predict)

array([[2, 4],
       [0, 1]], dtype=int64)